server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        health-check-path: /actuator/health
        prefer-ip-address: true
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**

        - id: game-logic
          uri: lb://game-logic
          predicates:
            - Path=/api/game/**

        - id: game-results
          uri: lb://game-results
          predicates:
            - Path=/api/results/**